 /* John Baskerville CSS Styling */
 
 <style>
           
    body {
        background: #fcf4dc;
        font-family: Georgia, serif;
        color: #77777;  
    }
        
    h1, h2 {
        font-weight: normal;
        text-align: center;
        margin: 10px 0 10px 0;
    }
     
    h1 {
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 40px;
    }
        
    h2 {
        font-size: 20px;
    }
        
    .subtitle {
        font-style: italic;
    }
        
    .intro {
        font-style: italic;
        font-size: 17px;
        text-align: center;
        padding-left: 60px;
        padding-right: 60px;
    }
        
    a {
        color: navy;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
        
    a:hover {
        text-decoration: underline;
        color: red;
    }
        
    nav {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
        
    nav ul {
        text-align: center;
        list-style-type: none;
    }
        
    nav ul li {
        display: inline;
        margin: 10px;
    }
        
    img {
        display: block;
        margin: 0 auto;
    }
        
    </style>